@model IQueryable<Peak>
@inject IUserRepository UserRepository

<fieldset class="border custom-control-inline p-2 shadow align-top mb-4">
   <legend> Peaks </legend>

   <table>
      <thead>
         <tr>
            <th class="text-center"> <span class="m-1"> Peak      </span> </th>
            <th class="text-center"> <span class="m-1"> Elevation </span> </th>
            <th class="text-center"> <span class="m-1"> Actions   </span> </th>
         </tr>
      </thead>

      <tbody>
         @foreach (Peak p in Model)
         {
            <tr>
               <td> <span class="m-1"> @p.Name                     </span> </td>
               <td> <span class="m-1"> @p.Elevation.ToString("N0") </span> </td>
               <td>
                  <a asp-controller="Peak" asp-action="Detail" asp-route-peakId="@p.Id" class="btn btn-sm btn-info m-1" title="Peak Details"> Details </a>
                  @if (UserRepository.IsUserAdmin())
                  {
                     <a asp-controller="Peak" asp-action="Edit"   asp-route-peakId="@p.Id" class="btn btn-sm btn-warning m-1" title="Edit Peak"  > Edit   </a>
                     <a asp-controller="Peak" asp-action="Delete" asp-route-peakId="@p.Id" class="btn btn-sm btn-danger  m-1" title="Delete Peak"> Delete </a>
                  }
               </td>
            </tr>
         }

         @if (UserRepository.IsUserAdmin())
         {
            <tr> <td colspan="3"> <hr /> </td> </tr>

            <tr>
               <td class="text-center" colspan="3">
                  <a asp-controller="Peak" asp-action="Add" class="btn btn-sm btn-primary"> Add A New Peak </a>
               </td>
            </tr>
         }
      </tbody>
   </table>
</fieldset>
