@model IQueryable<Trail>
@inject IUserRepository UserRepository

<fieldset class="border custom-control-inline p-2 shadow align-top mb-4">
   <legend> Trails </legend>

   <table>
      <thead>
         <tr>
            <th class="text-left">   <span class="m-1"> Name               </span> </th>
            <th class="text-center"> <span class="m-1"> Starting Elevation </span> </th>
            <th class="text-center"> <span class="m-1"> Distance           </span> </th>
            <th class="text-center"> <span class="m-1"> Actions            </span> </th>
         </tr>
      </thead>

      <tbody>
         @foreach (Trail t in Model)
         {
            <tr>
               <td>                     <span class="m-1"> @t.Name                             </span> </td>
               <td class="text-center"> <span class="m-1"> @t.StartingElevation.ToString("N0") </span> </td>
               <td class="text-center"> <span class="m-1"> @t.Distance.ToString("N1")          </span> </td>
               <td>
                  <a asp-controller="Trail" asp-action="Detail" asp-route-trailId="@t.Id" class="btn btn-sm btn-info m-1" title="Trail Details"> Details </a>
                  @if (UserRepository.IsUserAdmin())
                  {
                     <a asp-controller="Trail" asp-action="Edit"   asp-route-trailId="@t.Id" class="btn btn-sm btn-warning m-1" title="Edit Trail" > Edit   </a>
                     <a asp-controller="Trail" asp-action="Delete" asp-route-trailId="@t.Id" class="btn btn-sm btn-danger  m-1" title="DeleteTrail"> Delete </a>
                  }
               </td>
            </tr>
         }
      </tbody>
   </table>
</fieldset>
